@page
@model MatrixRazor.Pages.pgPapel.IndexModel

@{
    ViewData["Title"] = "Index";
}

<section class="section-margin">
    <div class="container">

        <h2 class="title">Cadastro de papéis</h2>

        <p>
            <a asp-page="Create">Incluir novo...</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Papel[0].Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Papel[0].Descricao)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Papel)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Visualizar</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>